.footer {
  border-top: 2px solid transparentize($brand-primary, .6);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: transparentize($brand-primary, .6);
}
.footer-links {
  display: flex;
  align-items: center;
  a {
    color: transparentize($brand-primary, .6);
    text-decoration: none;
    font-size: 24px;
    padding: 0px 10px;
    &:hover {
      color: $brand-primary;
    }
  }

  .fa-heart {
    color: $brand-primary;
  }
}
