---
title: Le Wagon - Middleman - About
---
<div class="about">
  <div class="content">
    <h1>This template is built with <i class="fa fa-heart"></i> by</h1>
    <div class="list-inline">
      <% %w(mpetrau papillard).each do |user| %>
        <li class="list-inline-item mx-2">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{user}", class: "rounded-circle" %>
          <% link_to "https://github.com/#{user}" do %>
            <h5 class="mt-2"><i class="fa fa-github"><strong> <%= user %></strong></i></h5>
          <% end %>
         </li>
      <% end %>
    </div>
  </div>
</div>
